*, *::after, *::before {
    box-sizing: border-box;  
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    font-family: 'Manrope', sans-serif;
}
button:not([disabled]) {
    cursor:pointer;
}


:root {
    
}
::selection {
    color: var(--main-white);
    background: var(--main-black);
}





header {width: 100%; text-align: center; padding: 3rem;}






#reviews {display: flex; flex-direction: column; text-align: center;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 3rem;
    padding: 5rem 3rem;
    margin: 3rem 0rem;
}
.dataList {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    align-items: end;
    padding: 3rem;
}
.dataItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(110, 142, 231, 0.1);
    border-radius: 3rem;
    gap: 2rem;
    padding: 3rem 2rem;

    position: relative;
}
.dataBar {
    height: 15rem;
    width: 1rem;
    border-radius: 1rem;
    background-color: coral;
    transition: .3s ease;
}
.dataInfo {display: flex; gap: .5rem;}
.dataInfo img {height: 1.5rem; border-radius: .25rem;}

button {padding: .5rem 1rem; margin: 0 auto;}




.dataItem::after {
    content: "";
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    background-color: darkslateblue;
    color: white;
    font-weight: bold;
    font-size: .75rem;
    text-align: center;
    line-height: 32px;

    position: absolute;
    top: -.25rem;
    right: -.25rem;
}
.netherlands::after {content: "133";}
.belgium::after {content: "15";}
.germany::after {content: "13";}
.norway::after {content: "5";}
.luxemburg::after {content: "5";}
.usa::after {content: "2";}

.zuid-holland::after {content: "90";}
.noord-holland::after {content: "23";}
.utrecht::after {content: "8";}
.zeeland::after {content: "6";}
.friesland::after {content: "3";}
.limburg::after {content: "3";}

.den-haag::after {content: "72";}
.amsterdam::after {content: "23";}
.brussels::after {content: "14";}
.berlin::after {content: "13";}
.rotterdam::after {content: "10";}





.dataListCity {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    align-items: end;
    padding: 3rem;
}